$txt = #222
$bg = $fff
$kepler = kepler-std-display, sans-serif

$red = #b53c39
$orange = dd8b45
$yellow = efd73c
$lime = d6ce45

$hover-strength = 0.95
$spd = 100ms

body-type()
  font-family: $kepler
  font-weight: 400

small-hr($size)
  display: block
  content: ''
  width: $size
  height: 1px
  background: rgba(white, 0.7)
  margin: 10px 0
