$txt = #222
$bg = $fff
$kepler = kepler-std-display, sans-serif

$red = #b53c39
$orange = #dd8b45
$yellow = #efd73c
$lime = #d6ce45
$grey = #eee

$hover-strength = 0.95
$spd = 100ms

$cell = 200px
$gut  = 30px

body-type()
  font-family: $kepler
  font-weight: 400

small-hr($size, $color)
  display: block
  content: ''
  width: $size
  height: 1px
  background: $color
  margin: 10px 0
