$txt = #222
$bg = $fff
$kepler = kepler-std-display, sans-serif

// Palette
$red = #b53c39
$orange = #dd8b45
$yellow = #efd73c
$lime = #d6ce45
$grey = #eee
$coal = #999

// Palette per service
$instagram-bg = $red
$twitter-bg   = $yellow
$tumblr-bg    = $lime
$flickr-bg    = $orange

// Settings
$hover-strength = 0.95
$spd = 100ms

// Dimensions
$cell = 180px
$gut  = 40px

body-type()
  font-family: $kepler
  font-weight: 400

small-hr($size, $color)
  display: block
  content: ''
  width: $size
  height: 1px
  background: $color
  margin: 10px 0

white-text-shadow()
  text-shadow: 0 1px 2px rgba(black, 0.2)

pointer-events(value)
  -webkit-pointer-events: value
  -moz-pointer-events: value
  pointer-events: value
