@import nib
@import _common

html
  height: 100%
  font-size: 14px
  // Acta = 14px, Kepler = 16px.
  background: #fff
  overflow-y: scroll

body
  background: transparent

body, input, td, textarea
  line-height: 1.5
  body-type()
  color: $txt

*
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

/* ----------------------------------------------------------------------------
 * Base styles
 */

.body
  &
    padding: 10px
    box-sizing: border-box

  @media (min-width: 480px) /* Tablet & Desktop */
    padding: 30px 10px

  @media (min-width: 768px) /* Desktop */
    padding: 50px 10px

a
  text-decoration: none

  &, &:visited
    color: $txt

  &:hover, &:active
    color: $red

/* ----------------------------------------------------------------------------
 * Modes
 */

html
  &
    background: #fff
  &.desktop
    transition: background 200ms linear
  &.service-instagram
    background: $instagram-bg
  &.service-tumblr
    background: $tumblr-bg
  &.service-flickr
    background: $flickr-bg
  &.service-twitter
    background: $twitter-bg

/* ----------------------------------------------------------------------------
 * Webfont load
 */

html
  body
    opacity: 0
    transition: opacity 300ms linear
  &.wf-active body, &.wf-inactive body
    opacity: 1

/*
 * Debug mode
 */

.debug
  article, .entry-list
    outline: solid 1px cyan

