@import nib
@import _common

html
  height: 100%
  font-size: 16px
  background: #fff

body, input, td, textarea
  line-height: 1.5
  body-type()
  color: $txt

*
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

// --------

body
  &
    padding: 10px

  @media (min-width: 480px) /* Tablet & Desktop */
    padding: 30px 10px

  @media (min-width: 768px) /* Desktop */
    padding: 50px 10px

a
  text-decoration: none

// Header
// ------

.main-heading
  clearfix()

  .logo
    font-size: 3em
    text-transform: uppercase
    color: $txt

  margin-bottom: 50px

  .logo, .menu
    float: left
    margin-right: 20px

    height: 30px
    line-height: 30px

.menu
  clearfix()
  -webkit-backface-visibility: hidden

  a
    float: left
    margin-right: 0

    color: white
    text-decoration: none
    white-text-shadow()

    display: block

    position: relative
    text-align: center

    width: 12px
    transition: width 300ms ease

  a i
    display: block

    position: absolute
    top: 0
    left: 0
    right: 10px
    bottom: 0
    z-index: 1

    background: $red
    transform: skew(-30deg)

  // Faded backgroud (when heading is hovered)
  .main-heading:hover &
    a.link-flickr i
      background: rgba($flickr-bg, 0.5)
    a.link-instagram i
      background: rgba($instagram-bg, 0.5)
    a.link-twitter i
      background: rgba($twitter-bg, 0.5)
    a.link-tumblr i
      background: rgba($tumblr-bg, 0.5)

  // Full background (when it's hovered, or when heading isn't hovered)
  a.link-flickr
    i, .main-heading:hover &:hover i, &.active i
      background: $flickr-bg
  a.link-instagram
    i, .main-heading:hover &:hover i, &.active i
      background: $instagram-bg
  a.link-twitter
    i, .main-heading:hover &:hover i, &.active i
      background: $twitter-bg
  a.link-tumblr
    i, .main-heading:hover &:hover i, &.active i
      background: $tumblr-bg

  span
    position: relative
    z-index: 2
    padding: 0
    opacity: 0
    padding-right: 10px

    font-weight: bold
    font-size: 0.9em
    transition: opacity 50ms linear

  a:hover, a.active
    width: 100px

    span
      opacity: 1
      transition: opacity 50ms linear 130ms

// Entry listing
// -------------

.body
  margin: 0 auto

  @media (min-width: 480px)
    width: ($cell * 2 + $gut * 1)
  @media (min-width: 798px)
    width: ($cell * 3 + $gut * 2)
  @media (min-width: 1024px)
    width: ($cell * 4 + $gut * 3)
  @media (min-width: 1260px)
    width: ($cell * 5 + $gut * 4)

.entry-list
  clearfix()

  @media (min-width: 480px) /* Tablet & Desktop */
    &
      margin-right: (-1 * $gut)

    .entry-item
      float: left

      &, .image
        width: $cell
        height: $cell

      // Custom sizes
      &.w2
        &, .image
          width: ($cell * 2 + $gut * 1)
      &.h2
        &, .image
          height: ($cell * 2 + $gut * 1)
      &.w3
        &, .image
          width: ($cell * 3 + $gut * 2)
      &.h3
        &, .image
          height: ($cell * 3 + $gut * 2)

// Entry item
// ----------

.entry-item
  &
    margin: 0 0 10px 0

  @media (min-width: 480px) /* Tablet & Desktop */
    margin: 0 $gut $gut 0

  position: relative

  .image
    background: grey

  .image, .meta
    overflow: hidden
    word-wrap: break-word

  &, .image, .meta
    box-sizing: border-box

  // Invisible link
  a.link
    display: block
    absolute: 0 0
    width: 100%
    height: 100%
    z-index: 10

  // Date displays
  .date, .date-ago
    text-transform: uppercase
    font-weight: bold
    font-size: 0.9em

// Image entries
// -------------

.entry-image
  .image, .meta
    display: block
    absolute: 0 0
    width: 100%
    height: 100%

  .date
    display: none

  .image
    background: #333

  .meta
    opacity: 0
    transition: all $spd ease
    transform: scale(0.95) translate3d(0,0,0)
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0

    padding: 20px

    background: rgba($red, $hover-strength)
    color: white
    text-shadow: 0 2px 2px rgba(black, 0.2)

  &.service-flickr .meta
    background: rgba($flickr-bg, $hover-strength)
  &.service-instagram .meta
    background: rgba($instagram-bg, $hover-strength)
  &.service-twitter .meta
    background: rgba($twitter-bg, $hover-strength)
  &.service-tumblr .meta
    background: rgba($tumblr-bg, $hover-strength)

  .meta .text
    font-size: 1.3em
    line-height: 1.10

  .meta .date-ago:before
    small-hr(15px, white)

  &:hover
    .meta
      transform: scale(1.0) translate3d(0,0,0)
      opacity: 1


// Text entries
// ------------

.entry-text
  a.link
    display: none

  .image
    display: none

  .text
    font-size: 1.3em

  .date:after
    small-hr(15px, $red)

  .date-ago
    display: none
