@import '_common'
@import 'nib'

$zip = cubic-bezier(0,0.9,0.2,1)

@keyframes bounce
  0%
    transform: translate(0, -20px)
  100%
    transform: translate(0, 0)

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

/* ----------------------------------------------------------------------------
 * Loading spinner
 */

.spinner
  &
    display: block

  & i
    display: block
    width: 24px
    height: 24px
    border-radius: 50%
    border: solid 2px transparent
    border-top-color: $red
    border-left-color: $red
    animation: spin 400ms linear infinite

/* ----------------------------------------------------------------------------
 * Title card (section.title-card)
 * The main title that's shown on top.
 */

.title-card
  border-bottom: solid 1px #ccc
  text-align: center
  background: white
  box-sizing: border-box
  width: 100%
  z-index: 1
  box-shadow: 0 0 4px rgba(black, 0.3)

  &
    display: table
    transform: translate3d(0,0,0)

  > div
    display: table-cell
    vertical-align: middle

  .meta
    padding: 20px 0
    max-width: 450px
    margin: 0 auto

  &
    font-size: 1.3em

  h1
    font-size: 3em
    body-xbold-type()

  p
    font-size: 1.1em

  span.footnote
    display: none

  @media (min-width: 768px) and (min-height: 500px) /* Desktop */
    span.footnote
      position: absolute
      bottom: 30px
      right: 30px
      font-size: 0.8em
      display: block

      &, a
        color: $coal
      a:hover
        color: $txt

  /* Links */

  ul
    display: block
    margin-top: 1.5em

  .hr
    margin: 1.5em auto 0 auto
    width: 50px
    background: #aaa
    height: 1px

  li
    display: inline-block

  li a
    display: inline-block
    padding: 0 12px

  li:after
    content: '|'
    color: #888

  li:last-child:after
    display: none

  @media (min-height: 500px)
    .spinner
      absolute: left 50% bottom 80px
      display: block
      margin-left: (-0.5 * 24px)
      margin-top: (-0.5 * 24px)

    // Spinner: hide when loaded
    .loaded & .spinner
      display: none

    // Bouncey arrow
    $size = 30px
    .jump
      position: absolute
      bottom: 50px + $size + 20px
      left: 50%

      width: $size*2
      height: $size
      padding: 20px
      margin-left: (-1*$size - 20px)

      background: white
      display: none

    .loaded & .jump
      display: block

    .notch
      display: block
      animation: bounce 400ms $zip infinite alternate-reverse

      opacity: 0.9

      &:before, &:after
        content: ''
        position: absolute
        left: 0
        top: 0

        display: block
        width: 0
        height: 0
        border: solid $size transparent
        border-top-color: $txt
        margin: 0 auto

      &:after
        top: -1px
        border-top-color: white

    .jump:hover .notch
        &:before
          border-top-color: $red

/* ----------------------------------------------------------------------------
 * Pinned
 */

.pinned
  .body
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 0

  .title-card
    position: relative
    z-index: 1

  .entry-item
    opacity: 0.2
