@import '_common'
@import 'nib'

$zip = cubic-bezier(0,0.9,0.2,1)

@keyframes bounce
  0%
    transform: translate3d(0, -20px, 0)
  100%
    transform: translate3d(0, 0, 0)

/* ----------------------------------------------------------------------------
 * Title card (section.title-card)
 * The main title that's shown on top.
 */

.title-card
  border-bottom: solid 1px #ccc
  text-align: center
  background: white
  box-sizing: border-box
  width: 100%
  z-index: 1
  box-shadow: 0 0 4px rgba(black, 0.3)

  &
    display: table
    transform: translate3d(0,0,0)

  > div
    display: table-cell
    vertical-align: middle

  .meta
    padding: 20px 0
    max-width: 500px
    margin: 0 auto

  &
    font-size: 1.3em

  h1
    font-size: 3em

  /* Links */

  ul
    display: block
    margin-top: 1.5em

  .hr
    margin: 1.5em auto 0 auto
    width: 50px
    background: #aaa
    height: 1px

  li
    display: inline-block

  li a
    display: inline-block
    padding: 0 12px

  li:after
    content: '|'
    color: #888

  li:last-child:after
    display: none

  .notch
    $size = 30px

    position: absolute
    bottom: 50px + $size
    left: 50%
    animation: bounce 400ms $zip infinite alternate-reverse

    opacity: 0.5

    &:before, &:after
      content: ''
      position: absolute
      left: (-1*$size)
      top: 0

      display: block
      width: 0
      height: 0
      border: solid $size transparent
      border-top-color: $txt
      margin: 0 auto

    &:after
      top: -1px
      border-top-color: white

.pinned
  .body
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 0

  .title-card
    position: relative
    z-index: 1

  .entry-item
    opacity: 0.2
