html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

html {
  height: 100%;
  font-size: 16px;
  background: #fff;
}
body,
input,
td,
textarea {
  line-height: 1.5;
  font-family: kepler-std-display, sans-serif;
  font-weight: 400;
  color: #222;
}
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 10px;
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  body {
    padding: 30px 10px;
  }
}
@media (min-width: 768px) /* Desktop */ {
  body {
    padding: 50px 10px;
  }
}
.main-heading {
  margin-bottom: 20px;
}
.main-heading .logo {
  font-size: 3em;
  text-transform: uppercase;
}
.body {
  margin: 0 auto;
}
@media (min-width: 480px) {
  .body {
    width: 430px;
  }
}
@media (min-width: 798px) {
  .body {
    width: 660px;
  }
}
@media (min-width: 1024px) {
  .body {
    width: 890px;
  }
}
@media (min-width: 1260px) {
  .body {
    width: 1120px;
  }
}
.entry-list {
  zoom: 1;
}
.entry-list:before,
.entry-list:after {
  content: "";
  display: table;
}
.entry-list:after {
  clear: both;
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-list {
    margin-right: -30px;
  }
  .entry-list .entry-item {
    float: left;
  }
  .entry-list .entry-item,
  .entry-list .entry-item .image {
    width: 200px;
    height: 200px;
  }
  .entry-list .entry-item.w2,
  .entry-list .entry-item.w2 .image {
    width: 430px;
  }
  .entry-list .entry-item.h2,
  .entry-list .entry-item.h2 .image {
    height: 430px;
  }
  .entry-list .entry-item.w3,
  .entry-list .entry-item.w3 .image {
    width: 660px;
  }
  .entry-list .entry-item.h3,
  .entry-list .entry-item.h3 .image {
    height: 660px;
  }
}
.entry-item {
  position: relative;
}
.entry-item {
  margin: 0 0 10px 0;
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-item {
    margin: 0 30px 30px 0;
  }
}
.entry-item .image {
  background: #808080;
}
.entry-item .image,
.entry-item .meta {
  overflow: hidden;
}
.entry-item,
.entry-item .image,
.entry-item .meta {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.entry-item a.link {
  display: block;
  position: absolute;
  0: 0;
  ((null)): 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.entry-item .date,
.entry-item .date-ago {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}
.entry-image .image,
.entry-image .meta {
  display: block;
  position: absolute;
  0: 0;
  ((null)): 0;
  width: 100%;
  height: 100%;
}
.entry-image .date {
  display: none;
}
.entry-image .image {
  background: #333;
}
.entry-image .image img {
  display: block;
  width: 100%;
  height: 100%;
}
.entry-image .meta {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  transition: all 100ms ease;
  -webkit-transform: scale(0.95) translate3d(0, 0, 0);
  -moz-transform: scale(0.95) translate3d(0, 0, 0);
  -o-transform: scale(0.95) translate3d(0, 0, 0);
  -ms-transform: scale(0.95) translate3d(0, 0, 0);
  transform: scale(0.95) translate3d(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background: rgba(181,60,57,0.95);
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.entry-image .meta .text {
  font-size: 1.3em;
  line-height: 1.1;
}
.entry-image .meta .date-ago:before {
  display: block;
  content: '';
  width: 15px;
  height: 1px;
  background: #fff;
  margin: 10px 0;
}
.entry-image:hover .meta {
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-transform: scale(1) translate3d(0, 0, 0);
  -o-transform: scale(1) translate3d(0, 0, 0);
  -ms-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.entry-text a.link {
  display: none;
}
.entry-text .image {
  display: none;
}
.entry-text .text {
  font-size: 1.3em;
}
.entry-text .date:after {
  display: block;
  content: '';
  width: 15px;
  height: 1px;
  background: #b53c39;
  margin: 10px 0;
}
.entry-text .date-ago {
  display: none;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 10px;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation:    nprogress-spinner 400ms linear infinite;
  -ms-animation:     nprogress-spinner 400ms linear infinite;
  -o-animation:      nprogress-spinner 400ms linear infinite;
  animation:         nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

