html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

html {
  height: 100%;
  font-size: 14px;
  background: #fff;
  overflow-y: scroll;
}
body {
  background: transparent;
}
body,
input,
td,
textarea {
  line-height: 1.5;
  font-family: acta-display, serif;
  font-weight: 400;
  color: #222;
}
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
/* ----------------------------------------------------------------------------
 * Base styles
 */
.body {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .body {
    padding: 30px 10px;
  }
}
@media (min-width: 768px) /* Desktop */ {
  .body {
    padding: 50px 10px;
  }
}
a {
  text-decoration: none;
}
a,
a:visited {
  color: #222;
}
a:hover,
a:active {
  color: #b53c39;
}
/* ----------------------------------------------------------------------------
 * Modes
 */
html {
  background: #fff;
}
html.desktop {
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  -o-transition: background 200ms linear;
  -ms-transition: background 200ms linear;
  transition: background 200ms linear;
}
html.service-instagram {
  background: #b53c39;
}
html.service-tumblr {
  background: #d6ce45;
}
html.service-flickr {
  background: #dd8b45;
}
html.service-twitter {
  background: #efd73c;
}
/* ----------------------------------------------------------------------------
 * Webfont load
 */
html body {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
html.wf-active body,
html.wf-inactive body {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
/*
 * Debug mode
 */
.debug article,
.debug .entry-list {
  outline: solid 1px #0ff;
}

/* ----------------------------------------------------------------------------
 * Header
 */
.main-heading {
  zoom: 1;
  margin-bottom: 50px;
}
.main-heading:before,
.main-heading:after {
  content: "";
  display: table;
}
.main-heading:after {
  clear: both;
}
.main-heading .logo {
  font-size: 3em;
  text-transform: uppercase;
  color: #222;
  font-family: acta-display, serif;
  font-weight: 500;
}
.desktop .main-heading .logo {
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}
.service .main-heading .logo {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.main-heading .logo,
.main-heading .menu {
  float: left;
  margin-right: 20px;
  height: 30px;
  line-height: 30px;
}
/* ----------------------------------------------------------------------------
 * Menu
 */
.menu {
  zoom: 1;
  -webkit-backface-visibility: hidden;
}
.menu:before,
.menu:after {
  content: "";
  display: table;
}
.menu:after {
  clear: both;
}
@media (max-width: 480px) /* Mobile */ {
  .menu {
    display: none;
  }
}
.menu a {
  float: left;
  margin-right: 0;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  display: block;
  position: relative;
  text-align: center;
  width: 12px;
  -webkit-transition: width 300ms ease;
  -moz-transition: width 300ms ease;
  -o-transition: width 300ms ease;
  -ms-transition: width 300ms ease;
  transition: width 300ms ease;
}
.menu a i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
  z-index: 1;
  background: #b53c39;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  transform: skew(-30deg);
  -webkit-transition: background 150ms linear;
  -moz-transition: background 150ms linear;
  -o-transition: background 150ms linear;
  -ms-transition: background 150ms linear;
  transition: background 150ms linear;
}
.menu a.link-flickr i {
  background: #dd8b45;
}
.menu a.link-instagram i {
  background: #b53c39;
}
.menu a.link-twitter i {
  background: #efd73c;
}
.menu a.link-tumblr i {
  background: #d6ce45;
}
.menu a.active i {
  background: #fff;
}
.menu a.active span {
  color: #222;
  text-shadow: none;
}
.menu span {
  position: relative;
  z-index: 2;
  padding: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding-right: 10px;
  font-weight: bold;
  font-size: 0.9em;
  -webkit-transition: opacity 50ms linear;
  -moz-transition: opacity 50ms linear;
  -o-transition: opacity 50ms linear;
  -ms-transition: opacity 50ms linear;
  transition: opacity 50ms linear;
}
.menu a:hover,
.menu a.active,
.mobile .menu a,
.main-heading:hover .menu a {
  width: 100px;
}
.menu a:hover span,
.menu a.active span,
.mobile .menu a span,
.main-heading:hover .menu a span {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 50ms linear 130ms;
  -moz-transition: opacity 50ms linear 130ms;
  -o-transition: opacity 50ms linear 130ms;
  -ms-transition: opacity 50ms linear 130ms;
  transition: opacity 50ms linear 130ms;
}
.menu a:hover:hover i,
.menu a.active:hover i,
.mobile .menu a:hover i,
.main-heading:hover .menu a:hover i {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.menu a:hover.active i,
.menu a.active.active i,
.mobile .menu a.active i,
.main-heading:hover .menu a.active i {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* ----------------------------------------------------------------------------
 * Entry listing
 */
.listing-page {
  margin: 0 auto;
}
@media (min-width: 480px) {
  .listing-page {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .listing-page {
    width: 620px;
  }
}
@media (min-width: 1024px) {
  .listing-page {
    width: 840px;
  }
}
@media (min-width: 1280px) {
  .listing-page {
    width: 1060px;
  }
}
.entry-list {
  zoom: 1;
}
.entry-list:before,
.entry-list:after {
  content: "";
  display: table;
}
.entry-list:after {
  clear: both;
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-list {
    margin-right: -40px;
  }
  .entry-list .entry-item {
    float: left;
  }
  .entry-list .entry-item,
  .entry-list .entry-item .image {
    width: 180px;
    height: 180px;
  }
  .entry-list article:nth-child(10n+2) {
    margin-top: 80px;
  }
}
/* ----------------------------------------------------------------------------
 * Entry item
 */
.entry-item {
  margin: 0 0 10px 0;
  -webkit-transition: opacity 300ms linear 300ms;
  -moz-transition: opacity 300ms linear 300ms;
  -o-transition: opacity 300ms linear 300ms;
  -ms-transition: opacity 300ms linear 300ms;
  transition: opacity 300ms linear 300ms;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
}
.entry-item.hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}
.entry-item.placeholder {
  display: none;
}
@media (min-width: 768px) /* Desktop */ {
  .entry-item.placeholder {
    display: block;
    height: 108px;
  }
}
@media (min-width: 768px) /* Desktop */ {
  .entry-item.w2,
  .entry-item.w2 .image {
    width: 400px;
  }
  .entry-item.h2,
  .entry-item.h2 .image {
    height: 400px;
  }
  .entry-item.w3,
  .entry-item.w3 .image {
    width: 620px;
  }
  .entry-item.h3,
  .entry-item.h3 .image {
    height: 620px;
  }
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-item {
    margin: 0 40px 40px 0;
  }
}
.entry-item .image {
  background: rgba(0,0,0,0.1);
}
.entry-item .image,
.entry-item .meta {
  overflow: hidden;
  word-wrap: break-word;
}
.entry-item,
.entry-item .image,
.entry-item .meta {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.entry-item a.link {
  display: block;
  position: absolute;
  0: 0;
  ((null)): 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
@media (max-width: 480px) /* Mobile */ {
  .entry-item a.link {
    display: none;
  }
}
.entry-item .date,
.entry-item .date-ago {
  text-transform: uppercase;
  font-family: acta-display, serif;
  font-weight: 800;
  font-size: 0.9em;
}
/* ----------------------------------------------------------------------------
 * Text entries
 */
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-text .meta {
    height: 100%;
    -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(#000), to(rgba(0,0,0,0)));
  }
}
.entry-text .text strong {
  font-family: acta-display, serif;
  font-weight: 700;
}
.entry-text .text strong:after {
  content: '—';
  margin-left: 0.4em;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.entry-text a.link,
.entry-text .image {
  display: none;
}
.entry-text .text {
  font-size: 1em;
  line-height: 1.5869999999999997;
}
.entry-text .date:after {
  display: block;
  content: '';
  width: 15px;
  height: 1px;
  background: #b53c39;
  margin: 10px 0;
}
.entry-text .date-ago {
  display: none;
}
/* ----------------------------------------------------------------------------
 * Image entries
 */
.entry-image .image {
  display: block;
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-image .image {
    position: absolute;
    0: 0;
    ((null)): 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 480px) /* Mobile */ {
  .entry-image .image img {
    width: 100%;
    margin: 0 0 -10px 0;
  }
}
.entry-image .date {
  display: none;
}
.entry-image .meta {
  background: rgba(181,60,57,0.95);
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-image .meta {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    transition: all 100ms ease;
    -webkit-transform: scale(0.95) translate3d(0, 0, 0);
    -moz-transform: scale(0.95) translate3d(0, 0, 0);
    -o-transform: scale(0.95) translate3d(0, 0, 0);
    -ms-transform: scale(0.95) translate3d(0, 0, 0);
    transform: scale(0.95) translate3d(0, 0, 0);
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    overflow: hidden;
  }
}
.entry-image .meta > div {
  padding: 20px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-image .meta > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(#000), to(rgba(0,0,0,0)));
  }
}
.entry-image.service-flickr .meta {
  background: rgba(221,139,69,0.95);
}
.entry-image.service-instagram .meta {
  background: rgba(181,60,57,0.95);
}
.entry-image.service-twitter .meta {
  background: rgba(239,215,60,0.95);
}
.entry-image.service-tumblr .meta {
  background: rgba(214,206,69,0.95);
}
.entry-image .meta .text {
  font-size: 1.3em;
  line-height: 1.3;
}
.entry-image .meta .date-ago:before {
  display: block;
  content: '';
  width: 15px;
  height: 1px;
  background: #fff;
  margin: 10px 0;
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-image:hover .meta,
  .entry-image.active .meta {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    -moz-transform: scale(1) translate3d(0, 0, 0);
    -o-transform: scale(1) translate3d(0, 0, 0);
    -ms-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  .entry-image.active:hover .meta {
    -webkit-transform: scale(0.95) translate3d(0, 0, 0);
    -moz-transform: scale(0.95) translate3d(0, 0, 0);
    -o-transform: scale(0.95) translate3d(0, 0, 0);
    -ms-transform: scale(0.95) translate3d(0, 0, 0);
    transform: scale(0.95) translate3d(0, 0, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@media (min-width: 768px) /* Desktop */ {
  .entry-image.w1 .text {
    font-size: 1.1em;
    line-height: 1.3569999999999998;
  }
  .entry-image.w1.text-short .text {
    font-size: 1.3em;
    line-height: 1.265;
  }
  .entry-image.w2 .text {
    font-size: 2em;
  }
  .entry-image.w2.text-medium .text {
    font-size: 2.65em;
  }
  .entry-image.w2.text-short .text {
    font-size: 4em;
  }
}

/* ----------------------------------------------------------------------------
 * Loading spinner
 */
.spinner {
  display: block;
}
.spinner i {
  display: block;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px transparent;
  border-top-color: #b53c39;
  border-left-color: #b53c39;
  -webkit-animation: spin 400ms linear infinite;
  -moz-animation: spin 400ms linear infinite;
  -o-animation: spin 400ms linear infinite;
  -ms-animation: spin 400ms linear infinite;
  animation: spin 400ms linear infinite;
}
/* ----------------------------------------------------------------------------
 * Title card (section.title-card)
 * The main title that's shown on top.
 */
.title-card {
  border-bottom: solid 1px #ccc;
  text-align: center;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
/* Links */
}
.title-card {
  display: table;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.title-card > div {
  display: table-cell;
  vertical-align: middle;
}
.title-card .meta {
  padding: 20px 0;
  max-width: 450px;
  margin: 0 auto;
}
.title-card {
  font-size: 1.3em;
}
.title-card h1 {
  font-size: 3em;
  font-family: acta-display, serif;
  font-weight: 500;
}
.title-card p {
  font-size: 1.1em;
}
.title-card span.footnote {
  display: none;
}
@media (min-width: 768px) and (min-height: 500px) /* Desktop */ {
  .title-card span.footnote {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 0.8em;
    display: block;
  }
  .title-card span.footnote,
  .title-card span.footnote a {
    color: #999;
  }
  .title-card span.footnote a:hover {
    color: #222;
  }
}
.title-card ul {
  display: block;
  margin-top: 1.5em;
}
.title-card .hr {
  margin: 1.5em auto 0 auto;
  width: 50px;
  background: #aaa;
  height: 1px;
}
.title-card li {
  display: inline-block;
}
.title-card li a {
  display: inline-block;
  padding: 0 12px;
}
.title-card li:after {
  content: '|';
  color: #888;
}
.title-card li:last-child:after {
  display: none;
}
@media (min-height: 500px) {
  .title-card .spinner {
    position: absolute;
    left: 50%;
    bottom: 80px;
    display: block;
    margin-left: -12px;
    margin-top: -12px;
  }
  .loaded .title-card .spinner {
    display: none;
  }
  .title-card .jump {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 60px;
    height: 30px;
    padding: 20px;
    margin-left: -50px;
    background: #fff;
    display: none;
  }
  .loaded .title-card .jump {
    display: block;
  }
  .title-card .notch {
    display: block;
    -webkit-animation: bounce 400ms cubic-bezier(0, 0.9, 0.2, 1) infinite alternate-reverse;
    -moz-animation: bounce 400ms cubic-bezier(0, 0.9, 0.2, 1) infinite alternate-reverse;
    -o-animation: bounce 400ms cubic-bezier(0, 0.9, 0.2, 1) infinite alternate-reverse;
    -ms-animation: bounce 400ms cubic-bezier(0, 0.9, 0.2, 1) infinite alternate-reverse;
    animation: bounce 400ms cubic-bezier(0, 0.9, 0.2, 1) infinite alternate-reverse;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
  }
  .title-card .notch:before,
  .title-card .notch:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    border: solid 30px transparent;
    border-top-color: #222;
    margin: 0 auto;
  }
  .title-card .notch:after {
    top: -1px;
    border-top-color: #fff;
  }
  .title-card .jump:hover .notch:before {
    border-top-color: #b53c39;
  }
}
/* ----------------------------------------------------------------------------
 * Pinned
 */
.pinned .body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.pinned .title-card {
  position: relative;
  z-index: 1;
}
.pinned .entry-item {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
@-moz-keyframes bounce {
  0% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes bounce {
  0% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-ms-keyframes bounce {
  0% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------------------------------------
 * NDialog stuff
 */
.ndialog-screen {
  background: #fff;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}
.ndialog-popup {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 0 rgba(0,0,0,0.15);
  box-shadow: 5px 5px 0 rgba(0,0,0,0.15);
}
@media (min-width: 768px) /* Desktop */ {
  .ndialog-popup {
    padding: 40px;
  }
}
/* ----------------------------------------------------------------------------
 * Entry dialog view
 */
.entry-dialog .close {
  position: fixed;
  right: 20px;
  top: 20px;
}
.entry-dialog .close {
  background: rgba(255,255,255,0);
  width: 60px;
  height: 60px;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  transition: all 100ms ease;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.entry-dialog .close:before,
.entry-dialog .close:after {
  content: '';
  width: 40px;
  height: 1px;
  background: rgba(0,0,0,0.8);
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
}
.entry-dialog .close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.entry-dialog .close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.entry-dialog .close:before,
.entry-dialog .close:after {
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
.entry-dialog .close:hover {
  background: #222;
  -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,0.05);
  box-shadow: 4px 4px 0 rgba(0,0,0,0.05);
}
.service-instagram .entry-dialog .close:hover {
  background: #b53c39;
}
.service-tumblr .entry-dialog .close:hover {
  background: #d6ce45;
}
.service-flickr .entry-dialog .close:hover {
  background: #dd8b45;
}
.service-twitter .entry-dialog .close:hover {
  background: #efd73c;
}
.entry-dialog .close:hover:active {
  background: #000 !important;
  -webkit-transform: translate3d(0, 2px, 0);
  -moz-transform: translate3d(0, 2px, 0);
  -o-transform: translate3d(0, 2px, 0);
  -ms-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
}
.entry-dialog .close:hover:before,
.entry-dialog .close:hover:after {
  background: #fff;
}
.entry-dialog .image,
.entry-dialog .image img {
  display: block;
  margin: 0;
  padding: 0;
}
.entry-dialog .image {
  position: relative;
  background: #eee;
  margin-bottom: 20px;
}
.entry-dialog .image img.lores {
  position: relative;
  opacity: 0.08;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
  filter: alpha(opacity=8);
  z-index: 0;
}
.entry-dialog .image .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-right: -12px;
  z-index: 1;
}
.entry-dialog .image img.hires {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.entry-dialog .meta {
  zoom: 1;
}
.entry-dialog .meta:before,
.entry-dialog .meta:after {
  content: "";
  display: table;
}
.entry-dialog .meta:after {
  clear: both;
}
.entry-dialog .meta .left {
  max-width: 400px;
}
.entry-dialog .meta .right {
  margin-left: 20px;
}
.entry-dialog .permalink {
  color: #999;
}
.entry-dialog .permalink:hover {
  color: #222;
}
@media (min-width: 480px) /* Tablet & Desktop */ {
  .entry-dialog .meta .left {
    float: left;
  }
  .entry-dialog .meta .right {
    float: right;
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none;
}

#nprogress .bar {
  background: #222;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: none; /* block *?
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #222, 0 0 5px #222;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #222;
  border-left-color: #222;
  border-radius: 10px;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation:    nprogress-spinner 400ms linear infinite;
  -ms-animation:     nprogress-spinner 400ms linear infinite;
  -o-animation:      nprogress-spinner 400ms linear infinite;
  animation:         nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

